.posts__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 10px 10px;
    border: 1px solid rgb(250, 245, 245);
    border-radius: 10px;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 20px;
    z-index: 100;
   margin-top: 0;
   
}
.post__title:hover {
    box-shadow: 0 0 10px 2px rgb(102, 30, 4);
}

.wrapper__for_functional {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts__title-h3 {
    display: flex;
    gap: 10px;
    
}



@media (max-width: 560px) {
    .posts__title {
        margin-top: 0;
        gap: 15px;
    }
    .posts__title h1 {
        font-size: 26px;
    }
    .posts__title-h3 h3 {
        font-size: 16px;
    }

    .wrapper__for_functional {
        flex-wrap: wrap;
        gap: 10px;
    }
}
