.header {
    /* background-image: url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?w=740&t=st=1686643848~exp=1686644448~hmac=ffa2e88bb6cc3de00cd9416427b0d6675b41f3a1198525e79f4d9b587dcb703d"); */
    background-image: url("https://img.freepik.com/free-photo/still-life-with-human-brains_23-2150547675.jpg?w=740&t=st=1687174099~exp=1687174699~hmac=d1dec219495fe6aa6bff38c9547140773973e85b34a2fb3e4cacee6328512645");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    margin-bottom: 0;
    width: 100%;
}
.container-header {
    padding-left: 20px;
    padding-top: 20px;
    color: aliceblue;
    text-shadow: 2px 2px 5px red;   
}    
.search-header {
    margin-left: 20px;
    margin-top: 20px;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    gap: 30px;
   
}

.button__profile {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: rgb(47, 4, 4);
    border-radius: 50%;
    color: rgb(245, 241, 241);
    border: 1px solid rgb(231, 203, 203);
    font-weight: 600;
   
   
}
.button__profile:hover {
    background-color: rgb(144, 43, 43);
    color: rgb(233, 219, 219);
    box-shadow: 3px 3px 9px 1px #d7bebe;
    cursor: pointer;
}

@media (max-width: 730px) {
    .header__wrapper {
        gap: 20px;
        flex-wrap: wrap;
    }
    .button__profile {
        position: absolute;
        top: 10px;
        right: 45px;
        width: 80px;
        height: 30px;
        padding: 8px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 100;
    }
    .container-header h3 {
      font-size: 20px;
    }
    .airplane {
        position: absolute;
        top: 10px;
        right: 10px;
    }
   
}
