.footer {
    /* background-image: url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?w=740&t=st=1686643848~exp=1686644448~hmac=ffa2e88bb6cc3de00cd9416427b0d6675b41f3a1198525e79f4d9b587dcb703d"); */
    background-image: url("https://img.freepik.com/free-photo/still-life-with-human-brains_23-2150547663.jpg?w=740&t=st=1687174462~exp=1687175062~hmac=e340902daa111d95ecf7edcdc6b212bdd53f5f0a5c914b39128a7ad19ab05b44");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__content {
   display: grid;
   grid-template-columns: 2fr 2fr;
   gap: 400px;
}

/* .footer__logo {
    display: flex;
    align-items: center;
    padding: 10px;
} */
.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.footer__contact_link:hover {
    color: rgb(231, 240, 240);
}
@media (max-width: 730px) {
    .footer__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        font-size: 15px;
     }
}