.button__add {
    width: 90px;
    height: 90px;
    padding: 10px;
    background-color: rgb(29, 135, 177);
    border-radius: 50%;
    color: rgb(245, 241, 241);
    border: 1px solid rgb(231, 203, 203);
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    
}
.button__add:hover {
    background-color: rgb(54, 24, 122);
    color: rgb(233, 219, 219);
    box-shadow: 3px 3px 9px 1px #d7bebe;
}

@media (max-width: 730px) {
    .button__add {
        border-radius: 10px;
        width: 90px;
        height: 40px; 
        font-size: 8px;
    }
}
