.button__add {
    padding: 10px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    color: grey;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
}

.button__add:hover {
    color: rgb(231, 222, 222);
    box-shadow: 3px 3px 9px 1px #b1adad;
}
