.post {
    /* min-width: 400px; */
    /* max-height: 400px; */
    display: grid;
    gap: 20px;
    background-color: aliceblue;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 0.5px 0.5px rgb(61, 28, 67);
    justify-content: space-around;
    position: relative;
}
.post__create-date {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.post__trash {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    color: red;
}

.post__edit {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 15px;
}

.post:hover {
    box-shadow: 0.5px 0.5px 0.5px 2px rgb(13, 101, 216);
}

.post__header {
    display: flex;
    gap: 20px;
    text-shadow: 0.5px 0.5px 0.5px red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post__autor-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.h3title h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.post__autor-info {
    display: grid;
    padding: 0;
    margin: 0;
}

.post__link {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 30px 350px 180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(56, 3, 52);
    /* text-shadow: 1px 1px 1px red; */
    gap: 25px;
}

.post__title {
    margin: 0;
    border-radius: 20px;
    padding-left: 10px;
  
}
.post__image-wrap {
    /* width: 350px; */
    /* height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.post__image {
    width: 350px;
    /* width: auto; */
    height: 350px;
    /* max-height: 500px; */
    /* max-width: 300px; */
    /* margin-top: 30px; */
    object-fit: cover;
    border-radius: 10px;
    /* overflow: hidden; */
}
.ololo {
    /* display: flex;
    justify-content: flex-start; */
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
.post__text {
    display: flex;
    
    margin: 0;
    text-align: justify;
    /* height: 80px; */
}

.post__tags {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    font-size: 12px;
}

.post__tag {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 4px 7px; */
    border: none;
    border-radius: 10px;
    text-shadow: 0.5px 0.5px 0.5px red;
    color: #370437;
    /* font-weight: 200; */
}

.post__footer {
    display: flex;
    justify-content: space-between;
}

.post__buttons {
    display: flex;
    gap: 10px;
}

.post__button {
    padding: 4px 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: aliceblue;
    display: flex;
    gap: 3px;
}
@media (max-width: 730px) {
    .post__link {
        grid-template-rows: auto;
        text-decoration: none;
        color: black;
        gap: 20px;
    }
    .post__text {
        margin: 0;
        text-align: justify;
        height: 90px;
    }
    .post {
        min-width: 350px;
    }
    .post__tags {
        margin-top: 50px;
        display: flex;
        gap: 5px;
        font-size: 15px;
    }
}