.notFoundPage__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
}

.notFoundPage__img {
    width: 80px;
    height: 80px;
}
.notFoundPage__title {
    font-weight: 800;
    line-height: 140%;
    color: #1a1a1a;
}

.notFoundPage__btn {
    padding: 9px 16px;
    border: 1px solid #76bbd9;
    border-radius: 5px;
    background: rgb(9, 111, 146);
    transition: all 0.2s;
}

.notFoundPage__btn:hover {
    cursor: pointer;
    background: rgb(156, 67, 189);
}
