.identificationPage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.identificationPage__content {
    padding: 30px;
    border-radius:10px;
    background-color: rgb(221, 219, 216);
    min-width: 400px;
    min-height: 200px;
    position: relative;
}

.identificationPage__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.identificationPage__form_content {
    width: 100%;
    padding: 15px;
    max-width: 90vw;
    max-height: 90vh;
}
